{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "8",
        },
        // "debug": true
      },
    ],
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    "idx",
  ],
}
